<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rumi Quotes</title>
    <link rel="stylesheet" href="css/bootstrap.css">
  </head>
  <body class="bg-light">
    <div class="container-fluid pl-5 pr-5 ">
      <h3 class="text-center p-5">Rumi Quotes</h3>
      <% for(var i = 0 ; i < sozler.length ; i++){ %>
        <div class="col-10 shadow-sm alert alert-warning d-inline-block" role="alert">
          <%= sozler[i].icerik %>
        </div>

        <div class="col-1 alert d-inline-block" role="alert">
         <%= sozler[i].kategori %>
        </div>

      <% } %>

    </div>
  </body>
</html>
